*{
  margin: 0;
  padding: 0;
}
.information-iframe{
  display: flex;
  width: 80%;
  margin: 200px auto;
}
.information{
width: 50%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
}
.iframe{
width: 50%;
display: flex;
justify-content: center;
}