@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fff;
	font-family: 'Nunito',sans-serif;
}
.high-container{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.back-arrow-img{
	width: 60px;
	padding: 15px 10px;
}
.high-container > div:nth-of-type(2){
/* background-color: blue; */
flex-basis: calc(100% - 170px);
}
label{
font-size: 1.6em;
display: block;
color: #fff;
font-weight: 700;
margin: 10px 0;
}
.form-register-plato{
	width: 460px;
	text-align: center;
	margin: auto;
	border: 1px solid;
	background-color: #000;
}
.marginOptions{
	margin: 15px 0;
}
.borderMustard{
	border: 1px solid #ffffff;
}
.sizeInput{
	width: 250px;
	height: 45px;
	border-radius: 10px;
	background-color: #000000;
	color: #fff;
	font-size: 20px;
	text-align: center;	
}
input[type="submit"]{
	width: 150px;
	height: 45px;
	border-radius: 50px;
	color: #fff;
	background-color: #000;
	border: 1px solid #C27B00;
  margin: 20px 0 15px ;
}
input[type="submit"]:hover{
	background-color: #f7b43f;
	color: #000;
	font-weight: 700;
	border: 1px solid #000;
}
h1{
  text-align: center;
  margin: 40px 0;
  font-size: 2.5em;
}
select::-webkit-scrollbar{
	width: 10px;
	background-color: #C92D39;
	border-radius: 2px;
}
select::-webkit-scrollbar-thumb{
	background-color: #FCC438;
	border-radius: 2	px;
}
select::-webkit-scrollbar-thumb:hover{
	background: rgba(203,6,32);
	border: 1px solid #C27B00;
} 
.imagen--plato{
	width: 100%;
	height: 174px;
	object-fit: contain;
}
::file-selector-button {
  display: none;
}
input[type="file"]{
background-image: url('/assets/imagenes/upload.png');
/* background-size: cover; */
background-repeat: no-repeat;
background-position: center;
height: 40px;
}
.text-upload-image{
	color: #fff;
}
.update-image-plato{
	/* background-color: #8f2618b0; */
    margin: 30px 100px;
    border-radius: 15px;
    border: 1px solid #fff;
    height: 40px;
}

