@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
	margin: 0;
	padding: 0;
		font-family: 'Nunito',sans-serif;
}
body {
	background: #fff;
}
.logo {
	padding: 15px 0 0 15px;
}
.main--high {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}
.primera--parte{
	display: inline-flex;
	width: 60%;
	justify-content: space-between;
}
/* .segunda--parte{
} */
p.titulo {
	font-size: 60px;
	margin-top: 60px;
}
.carrito {
	padding: 20px 50px 0 0;
}
.mid {
	display: flex;
	margin-top: 1%;
}
/*ESTILO--MENU--DE--VARIEDADES*/
.aside--right{
/*background-color: green;*/
	margin-left: 1%;
}
.option--variedad{
	width: 240px;
	height: 30px;
	background-color:#C92D39;
	/* background-color:#eb6974; */
	text-align: center;
	margin: 3px 3px;
	border-radius: 6px;
}
.content--variedades{
	color: #FCC438;
	font-size: 20px;
	text-decoration: none;
}
#variedades{
	height: 40px;
	line-height: 35px;
}
#id--variedades{
	color: #fff;
	font-size: 35px;
}
/*FIN--ESTILO--MENU--VARIEDADES*/
.lista--platos{
	/* display: flex; */
	flex-flow:row wrap;
	/* max-width: 930px; */
	margin-left: 15%;
}
.platos--content{
	width: 300px;
	height: 400px;
	box-shadow: 5px 10px 18px #888888;
	border-radius: 20px;
	margin: 0 80px 0 0;
}
#platos--margin{
	margin-left: 10%;
}
.primera--fila{
	display: grid;
	grid-template-columns: 300px 300px 300px 300px;
	grid-column-gap: 40px;
	grid-gap: 40px;
	margin-left: -100px;
}
/* .margin--left4--5{
	margin-left: 170px;
} */
.imagen--plato{
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.nombre--plato{
	height: 60px;
	margin: 11px 0;
	display: flex;
}
.boton--ordenar{
	background-color: #C92D39;
	display: flex;
	width: 200px;
	height: 50px;
	border-radius: 20px;
	justify-content: space-evenly;
	margin-left: 15%;
	margin-top: 20px;
}
.ordenar--text{
	font-size: 24px;
	line-height: 50px;
	color: #fff;
	font-style: italic;
}
.name--content{
	color: #000;
	font-size: 30px;
	text-align: center;
	width: 90%;
	line-height: 70px;
}
.precio{
	display: flex;
	justify-content: space-evenly;
	line-height: 40px;
	align-items: center;
}
.precio--mount{
	color: #C92D39;
	font-size: 30px;
	padding: 0 90px;
	text-shadow:0.6px 0.6px #000,-0.6px -0.6px #000;
}
.cantidad--products{
	height: 40px;
	width: 40px;
	position: relative;
}
.cantidad--products--container{
	border-radius: 50%;
	width: 30px;
	height: 30px;
}
#cantidad--products{
	text-align: center;
	line-height: 30px;
}
.shopping--cart--container{
	background: #C92D39;
	border-radius:50%;
	height: 46px;
	width: 46px;
	text-align: center;
	align-content: center;
}
.shopping--cart--container:hover{
	background-color: #ffd97a;
}
.shopping--cart--style{
	width: 30px;
	margin: 8px 0;
	
}
/* #mostrarContent::after{
	width: 300px;
	height: 100px;
	background-color:red;
	
} */
@media only screen and (max-width: 390px){
	.main--high{
		width: 960px;
	}
	.primera--fila{
		display: grid;
		grid-template-columns: 300px 300px ;
	}

	.margin--left4--5{
		margin: 0;
	}
	.margin--left4--5:last-child{
		margin-left: 170px;
	}
	.titulo{
		width: min-content;
	}
}
